/*WHOLE APPLICATION*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#background-blue{
    background: url("images/BlueBackground.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-red{
    background: url("images/RedBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-orange{
    background: url("images/YellowBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-yellow{
    background: url("images/OrangeBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-green{
    background: url("images/GreenBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-purple{
    background: url("images/PurpleBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#background-pink{
    background: url("images/PinkBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.midGameText{
    position: Absolute;
    font-size: 5vh;
    top: 8vh;
    width: 100vw;
}

.midGameSubtext{
    position: relative;
    margin: 0 auto;
    text-align: center;
}

/*INTRO SCREEN*/

.WelcomeIntro{
    font-size: 6vh;
    margin: 0 auto;
}

.WelcomeCode{
    font-size: 8vh;
    margin: 0 auto;
}

.IntroIcon{
    height: 15vh;
    width: 10vh;
}

.playerBox{
    width: 12.25vw; 
    display: 'flex'; 
    flex-direction: 'column-reverse'
}

.playerBox *{
    margin: 0 auto;
}

#WelcomeGroup{
    position: absolute;
    top: 10vh;
    right: 5vh;
    display: flex;
    flex-direction: column; 
    width: 75vh;
}

#playerContainer{
    position: fixed;
    bottom: 1vh;
    display: flex;
    flex-direction: row;
}

#StartButton{
    position: Absolute;
    left: 30vh;
    top: 60vh;
    transform: rotate(-8deg);
    border-radius: 15px;
    border: 0px solid #BADA55;
}

/*ROUND*/

.leftResponseContainer {
    position: relative;
    text-align: center;
    color: white;
    left: -50vh;
    top: 32vh;
    animation-name: moveInLeft;
    animation-duration: 4s;
  }

  @keyframes moveInLeft {
      0% {left: -130vh}
      75% {left: -130vh}
      100% {left: -50vh}
  }

.rightResponseContainer {
    position: relative;
    text-align: center;
    color: white;
    left: 50vh;
    animation-name: moveInRight;
    animation-duration: 8s;
}

@keyframes moveInRight {
    0% {left: 130vh}
      87.5% {left: 130vh}
      100% {left: 50vh}
}

.leftStick{
    width: 80vh;
}

.leftText{
    position: absolute;
    top: 15%;
    right: 40vh;
    width: 27vh;
    font-size: 2.5vh;
    color: black;
}

.rightStick{
    width: 80vh;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.rightText{
    position: absolute;
    top: 15%;
    left: 40vh;
    width: 27vh;
    font-size: 2.5vh;
    color: black;
}

.nextRoundButtonDiv{
    position: absolute;
    top: 10px;
    left: 47%;
    text-align: center;
}

/* SCOREBOARD */

.ScoreHeader{
    text-align: center;
}

.ScoreBoard{
    list-style-type: none;
    text-align: center;
}

.ScoreListing{
    font-size: 18px;
    list-style-type: none;
}

.ScoreboardAvatar{
    height: 10vh;
    width: 7.5vh;
}

.PlayAgainSection{
    position: absolute;
    left: 0px;
    bottom: 30%;
    width: 200px;
}

.PlayAgainText{
    text-align: center;
    font-size: 24px;
}

.SamePlayerButton{
    border-radius: 15px;
    border: 0px solid #BADA55;
    margin-bottom: 15px;
}

.DifferentPlayerButton{
    border-radius: 15px;
    border: 0px solid #BADA55;
}

.ButtonContainer{
    text-align: center;
}