/* EVERYTHING */

body{
  background-color: LightSeaGreen;
}

.MainWrapper{
  text-align: center;
  padding: 0;
}

.SubWrapper{
  padding-top: 150px;
  text-align: left;
  display: inline-block;
}

.InformationalText{
  font-size: 24px;
  text-align: center;
  width: 500px;
}

/* INTRO */

.IntroLabel{
  font-size: 24px;
  text-align: left;
}

.IntroInput{
  width: 250px;
  font-size: 24px;
  border-radius: 15px;
  padding-left: 10px;
  border: 0px solid #BADA55;
  box-shadow: 4px 4px 5px 0px teal;
}

.IntroButtonWrapper{
  text-align: center;
  padding-top: 24px;
}

.IntroButton{
  font-size: 24px;
  border-radius: 15px;
  border: 0px solid #BADA55;
  box-shadow: 4px 4px 5px 0px teal;
}

/* ROUNDS */

.PromptFill{
  text-align: center;
}

.RoundPrompt{
  text-align: center;
  font-size: 20px;
}

.RoundPrompt *{
  margin: 0 auto;
  font-size: 20px;
  width: 350px;
}

.RoundInputContainer{
  text-align: center;
  padding-top: 24px;
}

.RoundInput{
  width: 250px;
  font-size: 24px;
  border-radius: 15px;
  padding-left: 10px;
  border: 0px solid #BADA55;
  box-shadow: 4px 4px 5px 0px teal;
}

.RoundButtonContainer{
  text-align: center;
}

.RoundButton{
  margin-top: 25px;
  font-size: 24px;
  border-radius: 15px;
  border: 0px solid #BADA55;
  box-shadow: 4px 4px 5px 0px teal;
}